.footer {
  padding-top: 45px;
  color: white;
  background-color: #232323;

  ul {
    list-style: none;
    padding-left: 0;
  }
  a {
      color: #777777;
      
      &:hover {
        color: $color-light;
      }
  }
  &-fifth {
      margin: 20px 0;
      text-align: center;
      a {
          color: $color-light;
      }
  }
  
}
